:root {
    --white: #ffffff;
    --black: #000000;
    --dark-pink: #fc8eac;
    --white-pink: #fff4f7;
    --dark-red: #FA2A55;
    --gray: #4d4d4d;
    --white-gray: #999999;
    --dark-golden: #aa8c2c;
    --white-golden: #d4af37;
    --border: hsl(0deg 0.99% 80.2%);
}