:root {
  --white: #ffffff;
  --black: #000000;
  --dark-pink: #fc8eac;
  --medium-pink: #fec7d6;
  --white-pink: #fff4f7;
  --dark-red: #fa2a55;
  --gray: #1a1a1a;
  --middle-gray: #808080;
  --white-gray: #999999;
  --dark-golden: #947a27;
  --white-golden: #d4af37;
  --border: hsl(0deg 0.99% 80.2%);
}
