.jewelry-card-hovered {
  position: relative;
  width: 100%;
  border: 1px solid var(--border);
}

.jewelry-card-thumbnail {
  aspect-ratio: 1 / 1;
  background-color: var(--white-pink);
}

.jewelry-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--dark-pink);
  height: 20px;
  cursor: pointer;
  padding: 8px;
}

.title {
  color: var(--gray);
  position: absolute;
  display: inline-block;
  bottom: 12px;
  text-align: center;
  word-wrap: break-word;
  margin: 0 40px;
  transform: translateX(-50%, -50%);
  max-width: calc(100% - 80px);
}
