.jewelry-card-hovered {
  position: relative;
  width: 100%;
  border: 1px solid var(--border);
  height: 130%;
  z-index: 1;
  background-color: var(--white);
}

.jewelry-card-thumbnail {
  aspect-ratio: 1 / 1;
  margin: 28px;
  background-color: var(--white-pink);
}

.jewelry-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--dark-pink);
  height: 20px;
  cursor: pointer;
  padding: 8px;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: var(--gray);
  position: absolute;
  bottom: 0px;
  text-align: center;
  margin: 0px 28px 10px 28px;
}
