@font-face {
  font-family: "Optimist Normal";
  src: url("./fonts/optimist-2.ttf") format("truetype");
}

.app {
  font-size: 16px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Optimist Normal", sans-serif, -apple-system, ui-sans-serif,
    system-ui;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.main {
  height: auto;
  margin: 30px 209.5px 30px 209.5px;
}
