@font-face {
  font-family: "tisaSansProLight";
  src: url("./fonts/tisaSansProLight.ttf") format("truetype");
}

@font-face {
  font-family: "tisaSansProBold";
  src: url("./fonts/tisaSansProMedium.ttf") format("truetype");
}

@font-face {
  font-family: "tisaSansProBoldItalic";
  src: url("./fonts/tisaSansProMediumItalic.ttf") format("truetype");
}

.app {
  font-size: 16px;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "tisaSansProLight", Arial, sans-serif, -apple-system,
    ui-sans-serif, system-ui;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.main {
  margin: 0px 214px 40px 214px;
}
