.hero {
  margin-top: 40px;
}
.no-decoration {
  text-decoration: none;
}

.hero-box {
  display: flex;
  text-decoration: none;
}

.hero-box-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.hero-img {
  width: 50%;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0px 30px;
}

.title {
  margin-bottom: 10px;
  text-decoration: none;
  font-size: var(--large-font-size);
  font-family: var(--bold-italic-font-family);
  text-align: center;
  color: var(--gray);
}

.paragraph {
  margin-bottom: 30px;
  text-align: center;
  color: var(--gray);
}

.animated-button {
  position: relative;
  padding: 16px 48px;
  font-size: var(--medium-font-size);
  background-color: var(--white-golden);
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background: none;
  color: var(--dark-golden);
  box-shadow: 0 0 0 0.6px var(--white-golden);
  outline: none;
  letter-spacing: 1.2px;
}

.animated-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: var(--white-golden);
  transition: width 0.3s ease, left 0.3s ease;
}

.animated-button:hover::before {
  width: 100%;
  left: 0;
}
