.account-details-box {
  display: flex;
  gap: 60px;
}

.left-container {
  width: 50%;
  box-shadow: 0 0 0 0.3px var(--dark-pink);
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.right-bottom-container,
.right-top-container {
  box-shadow: 0 0 0 0.3px var(--dark-pink);
}

.right-top-container {
  height: 60%;
}

.right-bottom-container {
  height: 40%;
  text-align: center;
}

.left-container,
.right-top-container,
.right-bottom-container {
  padding: 40px;
}

.form-title,
.form-title-address {
  font-family: var(--bold-italic-font-family);
  font-size: var(--large-font-size);
  margin: 0px 0px 40px 0px;
}

.form-sub-title {
  font-family: var(--bold-font-family);
  margin-bottom: 40px;
}

.form-title-address {
  border-bottom: 1px solid var(--border);
  padding-bottom: 20px;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.button {
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  outline: none;
  text-decoration: underline;
}

.button:hover{
  font-family: var(--bold-font-family);
}

.slideIn {
  animation: slideIn 0.4s forwards;
}

.slideOut {
  animation: slideOut 0.4s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-40px);
  }
}
