.left-container,
.right-container {
  width: 50%;
  box-shadow: 0 0 0 0.3px var(--dark-pink);
  padding: 40px;
}

.form-title {
  font-family: var(--bold-italic-font-family);
  font-size: var(--large-font-size);
  margin: 0px 0px 40px 0px;
}

.login-information-box {
  display: flex;
  gap: 40px;
}
