.jewelry-details-box {
  margin: 40px 214px 40px 214px;
  display: flex;
  flex-direction: column;
}

.jewelry-container {
  display: flex;
}

.jewelry-images {
  width: 60%;
  position: relative;
}

.left-image {
  position: relative;
  display: inline-block;
  animation: slideInLeft 0.5s forwards;
}

.right-image {
  position: relative;
  display: inline-block;
  animation: slideInRight 0.5s forwards;
}

@keyframes slideInLeft {
  from {
    left: -214px;
  }
  to {
    left: 0;
  }
}

@keyframes slideInRight {
  from {
    right: -214px;
  }
  to {
    right: 0;
  }
}

.image {
  top: 0;
  right: 0;
  animation: slideIn 0.5s forwards;
  display: inline-block;
}

.circles-container {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  color: var(--extra-light-gray);
  height: 10px;
}

.photo-selected {
  color: var(--middle-gray);
}

.jewelry-info-container {
  width: 40%;
}

.jewelry-title {
  font-style: var(--bold-italic-font-family);
  margin: 0px 0px 10px 0px;
  padding: 0;
}

.flex-container-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hr-line {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 0 0.2px var(--dark-pink);
  border-top: 0px;
  border-bottom: 0px;
}

.line-img {
  width: 30px;
  vertical-align: middle;
  margin: 0px 4px;
}
