.jewelries-box {
  margin: 40px 214px 0px 214px;
  position: relative;
}

.jewelries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.load-more-button {
  display: flex;
  justify-content: center;
}
