.hero-top-container {
  margin: 0px 0px 60px 0px;
  width: 100%;
  display: flex;
}

.hero-img-container {
  width: 50%;
}

.info-container {
  width: 50%;
  background-color: var(--transparent-gray);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-title {
  text-align: center;
  font-family: var(--bold-italic-font-family);
  font-size: var(--extra-large-font-size);
  padding: 0px;
}
.box-paragraph {
  text-align: center;
  width: 50%;
}

.jewelries-box {
  margin: 40px 214px 40px 214px;
  position: relative;
}

.jewelries-nav {
  display: flex;
  margin: 0px 0px 60px 0px;
  border-bottom: 0.1px solid var(--border);
}

.form-vertical-line {
  border: 0.1px solid var(--border);
  margin-bottom: 10px;
}

.jewelries-count {
  font-size: var(--small-font-size);
  margin-bottom: 12px;
}

.jewelries-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.load-more-button {
  display: flex;
  justify-content: center;
}
