.paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.box-title {
  text-align: center;
  font-family: var(--bold-italic-font-family);
  font-size: var(--extra-large-font-size);
  margin: 40px 0px 0px 0px;
  padding: 0px;
}
.box-paragraph {
  text-align: center;
  width: 40%;
}

.jewelries-box {
  margin: 40px 214px 40px 214px;
  position: relative;
}

.jewelries-nav {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  border-bottom: 0.1px solid var(--border);
}

.form-vertical-line {
  border: 0.1px solid var(--border);
  margin-bottom: 10px;
}

.filter-by-container,
.sort-by-container {
  color: var(--middle-gray);
  font-family: var(--bold-font-family);
  font-size: var(--small-font-size);
}

.filter-by-container {
  display: flex;
  gap: 50px;
}

.filter-list {
  display: flex;
  gap: 60px;
  font-family: var(--bold-font-family);
  font-size: var(--small-font-size);
}

.filter-button {
  text-decoration: none;
  color: var(--gray);
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  letter-spacing: 1.2px;
  padding-bottom: 4px;
  background-color: var(--white);
}

.sort-by-container {
  position: absolute;
  right: 0;
  display: flex;
  gap: 8px;
}

.sort-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--bold-font-family);
  font-size: var(--small-font-size);
  background-color: var(--white);
  z-index: 4;
  position: absolute;
  top: 40px;
  width: 100%;
}

.filter-item {
  padding-left: 10px;
}

.filter-item:last-child {
  padding-bottom: 10px;
}

.circle {
  padding-right: 8px;
  height: 8px;
  vertical-align: middle;
  color: var(--white);
}

.circle-selected {
  color: var(--dark-pink);
}

.jewelries-count {
  font-size: var(--small-font-size);
  margin-bottom: 12px;
}

.jewelries-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.load-more-button {
  display: flex;
  justify-content: center;
}
