.address-container {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--white);
}

.icon {
  color: var(--dark-pink);
  height: 28px;
}
