.field-box {
  height: 90px;
  min-width: 241px;
  position: relative;
}

.field-container {
  border-bottom: 0.1px solid var(--dark-pink);
  position: relative;
  padding: 4px;
}

.error {
  border-bottom: 0.1px solid var(--dark-red);
}

.error-message {
  font-size: var(--small-font-size);
  color: var(--dark-red);
  padding-top: 4px;
  margin: 0px;
  padding-bottom: 0px;
}

.success-message {
  font-size: var(--small-font-size);
  color: var(--green);
  padding-top: 4px;
  margin: 0px;
  padding-bottom: 0px;
}

.custom-placeholder::placeholder {
  color: var(--dark-pink);
  opacity: 1;
}

.label {
  color: var(--middle-gray);
  position: absolute;
  left: 0;
}

.isFocused {
  top: -12px;
  left: 0;
  font-size: var(--minimum-font-size);
}

.animated-button {
  margin-top: 10px;
  position: relative;
  padding: 16px 48px;
  font-size: 14px;
  font-weight: 900;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--white-pink);
  box-shadow: 0 0 0 0.3px var(--dark-pink);
  outline: none;
  letter-spacing: 1.2px;
  font-family: var(--bold-font-family);
  width: 100%;
}

.animated-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: var(--dark-pink);
  transition: width 0.3s ease, left 0.3s ease;
}

.animated-button:hover::before {
  width: 100%;
  color: var(--dark-pink);
  left: 0;
}

.dismiss-button {
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--white);
  outline: none;
  font-family: var(--bold-font-family);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

.input-icon {
  position: absolute;
  top: 0px;
  right: 0;
  color: var(--gray);
  background-color: var(--medium-pink);
  border-radius: 32px;
  padding: 3px;
  z-index: 10;
  width: 9px;
}
