/* styles.css */
.dropdown {
    position: relative;
    display: inline-block;
    width: 200px; /* Adjust as needed */
  }
  
  .dropdown-toggle {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* Ensure the button is as wide as the dropdown */
    text-align: left;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .dropdown-menu {
    display: block;
    position: absolute;
    bottom: 100%; /* Position above the button */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: -1px; /* Remove the gap between the button and the dropdown */
    list-style: none;
    padding: 0;
    width: 100%; /* Ensure the dropdown menu matches the button width */
    z-index: 1000; /* Ensure the dropdown is above other elements */
    max-height: 200px; /* Set a maximum height for the dropdown */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .dropdown-menu li {
    padding: 8px;
    cursor: pointer;
    background-color: var(--white)
  }
  
  .dropdown-menu li:hover {
    background-color:var(--not-available-gray)
  }
  