.header {
  position: fixed;
  border-bottom: 0.1px solid var(--border);
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--white);
  font-size: var(--medium-font-size);
  transition: all 0.9s ease;
  width: 100%;
  animation: slideIn 0.2s forwards;
}

@keyframes slideIn {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.header-box {
  display: flex;
  align-items: center;
  margin: 0 40px;
  width: 100%;
}

.logo-container {
  margin: 0px 40px 0px 0px;
  width: 134px;
  aspect-ratio: 1 / 1;
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  vertical-align: middle;
}

.logo-img:hover {
  transform: scale(1.1);
}

.nav {
  width: 50.02%;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-title {
  font-size: var(--medium-font-size);
}

.nav-item {
  color: var(--gray);
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.5s ease-in-out;
  display: inline-block;
}

.nav-item:hover {
  transform: scale(1.2);
}

.icon-pink {
  color: var(--dark-pink);
}

.icon-list {
  display: flex;
}

.icon-item-width {
  width: 60px;
}

.icon-item {
  font-weight: 600;
  transition: transform 0.5s ease-in-out;
  display: inline-block;
}

.icon-item:hover {
  transform: scale(1.2);
}

.icon-bar-count {
  font-size: 14px;
  color: var(--dark-pink);
  margin-left: 4px;
  font-weight: 400;
}

.icon-bar-item {
  text-decoration: none;
}
