.load-more-button {
  /* position: relative;
  padding: 16px 48px;
  font-size: var(--medium-font-size);
  border: none;
  cursor: pointer;
  overflow: hidden;
  background: none;
  color: var(--dark-pink);
  box-shadow: 0 0 0 0.6px var(--medium-pink);
  outline: none;
  letter-spacing: 1.2px;
  width: 50%;
  margin-top: 8%; */

  position: relative;
  padding: 16px 48px;
  font-size: var(--medium-font-size);
  border: none;
  cursor: pointer;
  overflow: hidden;
  background: var(--white-pink);
  color: var(--gray);
  box-shadow: 0 0 0 0.6px var(--border);
  outline: none;
  letter-spacing: 1.2px;
  width: 50%;
  margin-top: 8%;
}

.load-more-button::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: var(--dark-pink);
  transition: width 0.3s ease, left 0.3s ease;
}

.load-more-button:hover::before {
  width: 100%;
  left: 0;
}

.load-more-button-disabled {
  padding: 16px 48px;
  font-size: var(--medium-font-size);
  border: none;
  overflow: hidden;
  background: none;
  color: var(--white-gray);
  box-shadow: 0 0 0 0.6px var(--border);
  outline: none;
  letter-spacing: 1.2px;
  width: 50%;
  margin-top: 8%;
  cursor: not-allowed;
}

.load-more-button-disabled:hover::before {
  width: 0%;
  left: 0;
}
